@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background: linear-gradient(60deg, #060606 0%, #070A16 100%); */
}

.bg-hero {
  background-color: #101418;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/bghero.gif");
}
.bg-hero2 {
  background-color: #101418;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/bghero.gif");
}

.cointable {
  border-radius: 38px;
  background: linear-gradient(180deg, #172147 0%, rgba(29, 28, 29, 0.06) 100%);
}
@media screen and (max-width: 768px) {
  .bg-hero {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/bghero.gif");
  }
  .bg-hero2 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/bghero.gif");
  }
  .bg_gradient {
    background: linear-gradient(
      60deg,
      rgba(167, 36, 104, 0.8) 0%,
      rgba(14, 37, 157, 0.8) 100%
    );
  }
  .cointable {
    border-radius: 38px;
    background: linear-gradient(
      60deg,
      #172147 0%,
      rgba(29, 28, 29, 0.06) 100%
    );
  }
}
.bg_gradient {
  background: linear-gradient(180deg, #060606 0%, #070a16 100%);
}

.card {
  border-radius: 24px;
  background: linear-gradient(180deg, #171e3a 0%, #3f1431 100%);
}

.features {
  border-radius: 900px;
  background: linear-gradient(
    180deg,
    rgba(167, 36, 104, 0.8) 0%,
    rgba(14, 37, 157, 0.8) 100%
  );
  filter: blur(350px);
  -webkit-filter: blur(350px);
}
.card1 {
  background: linear-gradient(180deg, #171e3a 0%, #a72468 100%);
}
.card2 {
  background: #172559;
}
.card3 {
  background: linear-gradient(180deg, #7941ef 0%, rgba(19, 95, 137, 0.62) 100%);
}
